.EPhone {
    width: 390px;
    height: 100vh;
    text-align: center;
    position: relative;
    background-color: #EFF0F4;
}

.phone-title{
    position: absolute;
    left: calc(50% - 320px/2);    
    top: 214px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.phone-box{
    position: absolute;;
    left: 35px;
    top: 258px;
    box-sizing: border-box;
    width: 320px;
    height: 46px;
    left: 35px;
    background: #FFFFFF;
    border: none;
    border-bottom: 2px solid #cccc;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;

}

.number-title{
    position: absolute;
    left: 35px;
    top: 340px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.number-box{
    position: absolute;
    left: calc(50% - 320px/2);
    top: 380px;
    box-sizing: border-box;
    width: 320px;
    height: 46px;
    left: 35px;
    background: #FFFFFF;
    border: none;
    border-bottom: 2px solid #cccc;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
}

.nextBtn{
    position: absolute;
    width: 110px;
    height: 46px;
    left: 245px;
    top: 776px;
    background: #D2D4DB;
    border-radius: 30px;
    border: none;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 46px;
    color: #FFFFFF;
    text-align: center;
}